@model TreeViewDemo.Models.Site
@using TreeViewDemo.Models;
@{
    
    ViewBag.Title = "EditLocatii";
}

@using (Ajax.BeginForm("Edit", "Locatii", new AjaxOptions() { HttpMethod = "POST" }))
  
{
    <div id="labels_div"  style="float:left;margin-left:17%;margin-top:2%;margin-right:2%;">
    @Html.HiddenFor(model => model.id)
    @Html.LabelFor(model => model.denumire, "Denumire Locatie",new  {@class = "labels" })
        <br /><br />
         <label   class="labels" >
        Judet:
    </label>
    
        </div>

   <div id="text_div" style="float:left;margin-top:1%;margin-left:2%;">
       @Html.EditorFor( model => model.denumire,   new { @class = "editors" })
       
        <select name="judet" id="judet" style="width:70%">
            @{foreach (TreeViewDemo.Models.Site.Judet j in Model.lista)
              {
                      <option value="@j.id">@j.denumire</option>
              }
            }
        </select>
       <script>
           $('#judet option[value="@(Model.parinteJudet)"]').prop('selected', true);
       </script>
        
   </div>
    
    
    <script>
        $(":input").addClass("editors");
        $("#submit_1").removeClass("editors");
        $("#create").removeClass("editors");
    </script>
    <br />
    <div id="footer-form" style="margin-top:40%">
   <input type="submit" value="Salveaza" class="buton" id="submit_1" />
        <input type="button" class="buton" id="sterge" value="Sterge locatie" />
        <script>
            $("#sterge").click(function () {
                $("#treeDemo").find(".jstree-checked").each(function () {
                    var id = this.id;
                    $.post('@Url.Content("~/Locatii/StergeLocatie")', "id=" + id, function () { location.reload(); }, 'html');
                });

            });

            $("#sterge").removeClass("editors");
            $("#editjudet").removeClass("editors");
            $("#cautajudet").removeClass("editors");
        </script>
        </div>
}