@{
    ViewBag.Title = "EditEchipament";
}


@using (Ajax.BeginForm("Edit", "Echipament", new AjaxOptions() { HttpMethod = "POST" }, new { id = "ajaxForm" }))
  
{
   
    
    <div id="labels_div"  style="float:left;margin-left:17%;margin-top:1%;margin-right:2%;">
   <input type="hidden" value="@ViewBag.id" id="id" name="id" />
        <input type="hidden" value="@ViewBag.numeechip" id="numeechip" name="numeechip" />
    <label   class="labels" style="display:none">Denumire</label>
        <script>
            if ('@ViewBag.id' != -1) { //echip care exista
                var atr = '@Html.Raw(ViewBag.atribute)';
                var x = $.parseJSON(atr);

                console.log("json deserializat lung:" + x.length);
                for (i = 0; i < x.length; i++) {
                    var mainDiv = document.getElementById('labels_div');

                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = x[i].nume_atr;
                    mainDiv.appendChild(newSpan);

                    var br = document.createElement("br");
                    mainDiv.appendChild(br);
                }
            }
            else { 
                if ('@ViewBag.numeechip' == 'PABX') {
                    var mainDiv = document.getElementById('labels_div');

                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "Tip";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);


                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "IP";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);


                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "Versiune";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);

                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "Abonati analogici";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);

                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "Abonati digitali";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);

                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "Abonati IP";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);

                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "Abonati DECT";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);

                    var newSpan = document.createElement('label');
                    newSpan.className = "labels";
                    newSpan.innerHTML = "Plaja alocata totala";
                    mainDiv.appendChild(newSpan);
                    var br = document.createElement("br");
                    mainDiv.appendChild(br);

                }

            }
            
        </script> 
        
        </div>

   <div id="text_div" style="margin-top:1%;">
       <input type="hidden" class="editors" id="denumire" name="denumire" value="@ViewBag.numeechip" />
       <script>
           loaded = 0;
           if ('@ViewBag.id' != -1) {   //exista deja
               var atr = '@ViewBag.atribute';
               console.log("nr atr:" + atr.length);

               for (i = 0; i < x.length; i++) {
                   if (x[i].nume_atr == 'Versiune') {
                       var mainDiv = document.getElementById('text_div');
                       var newSpan = document.createElement('select');
                       console.log(x[i]);
                       var idsel = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan.id = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan.name = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan.className = "editors";
                       mainDiv.appendChild(newSpan);

                       $.ajax({
                           url: '@Url.Content("~/Echipament/GetVersiuni")',
                           type: 'POST',
                           data: { idver: x[i].val_atr.idver },
                           success: function (response) {
                               var tipuri = response.split(',');
                               var option = document.createElement("option");
                               option.value = '';
                               option.text = '';

                               var selvar = document.getElementById(idsel);
                               selvar.appendChild(option);

                               for (var j = 0; j < tipuri.length - 1 ; j++) {
                                   var option = document.createElement("option");
                                   var valtext = tipuri[j].split(':');
                                   option.value = valtext[0];
                                   option.text = valtext[1];
                                   selvar.appendChild(option);
                               }

                               $("#" + idsel).val(tipuri[j]);
                           }
                       });
                   }
                   else if (x[i].nume_atr == 'Tip') {
                       var mainDiv = document.getElementById('text_div');
                       var newSpan2 = document.createElement('select');
                       console.log(x[i]);
                       var idsel1 = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan2.id = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan2.name = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan2.className = "editors";
                       mainDiv.appendChild(newSpan2);

                       $.ajax({
                           url: '@Url.Content("~/Echipament/GetTip")',
                           type: 'POST',
                           data: { idsel: x[i].val_atr.idsel },
                           success: function (response) {
                               var tipuri = response.split(',');
                               var option2 = document.createElement("option");
                               option2.value = '';
                               option2.text = '';

                               var selvar1 = document.getElementById(idsel1);
                               selvar1.appendChild(option2);

                               for (var j = 0; j < tipuri.length - 1 ; j++) {
                                   var option2 = document.createElement("option");
                                   var valtext = tipuri[j].split(':');
                                   option2.value = valtext[0];
                                   option2.text = valtext[1];
                                   selvar1.appendChild(option2);
                               }
                               $("#" + idsel1).val(tipuri[j]);
                           }
                       });
                   } else if (x[i].nume_atr == "Abonati analogici" || x[i].nume_atr == "Abonati digitali" ||
                       x[i].nume_atr == "Abonati IP" || x[i].nume_atr == "Abonati DECT" ||
                       x[i].nume_atr == "Abonati total") {
                       alert(x[i].nume_atr);
                       var mainDiv = document.getElementById('text_div');
                       var newSpan = document.createElement('input');
                       newSpan.type = "text";
                       newSpan.id = '@ViewBag.id' + "_" + x[i].id_atr + "1";
                       newSpan.name = '@ViewBag.id' + "_" + x[i].id_atr + "1";
                       newSpan.className = "editors";
                       newSpan.setAttribute("style", "float:left;width:50px;");
                       newSpan.value = x[i].val_atr.split(',')[0];
                       mainDiv.appendChild(newSpan);

                       var newSpan = document.createElement('input');
                       newSpan.type = "text";
                       newSpan.id = '@ViewBag.id' + "_" + x[i].id_atr + "2";
                       newSpan.name = '@ViewBag.id' + "_" + x[i].id_atr + "2";
                       newSpan.className = "editors";
                       newSpan.setAttribute("style", "float:right;width:50px;");
                       newSpan.value = x[i].val_atr.split(',')[1];
                       mainDiv.appendChild(newSpan);
                   }
                   else {
                       alert(x[i].val_atr);
                       var mainDiv = document.getElementById('text_div');
                       var newSpan = document.createElement('input');
                       newSpan.type = "text";
                       newSpan.id = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan.name = '@ViewBag.id' + "_" + x[i].id_atr;
                       newSpan.className = "editors";
                       newSpan.value = x[i].val_atr;
                       mainDiv.appendChild(newSpan);
                   }



                   newSpan = document.createElement('input');
                   newSpan.type = "hidden";
                   newSpan.id = '@ViewBag.id' + "_" + x[i].id_atr + ":";
                   newSpan.name = '@ViewBag.id' + "_" + x[i].id_atr + ":";
                   newSpan.value = x[i].tip_val;
                   mainDiv.appendChild(newSpan);

                   var br = document.createElement("br");
                   mainDiv.appendChild(br);


                   var newSpan = document.createElement('input');
                   newSpan.type = "hidden";
                   newSpan.id = 'siteID';
                   newSpan.name = 'siteID';
                   newSpan.value = '@ViewBag.siteID';
                   document.getElementById('text_div').appendChild(newSpan);
               }
           }
           else {   //nu exista echip
               if (loaded == 0) {
                   loaded++;
                   if ('@ViewBag.numeechip' == 'PABX') {

                       $.ajax({
                           url: '@Url.Content("~/Echipament/GetTip")',
                           type: 'POST',
                           success: function (response) {
                               var mainDiv = document.getElementById('text_div');
                               var newSpan = document.createElement('select');

                               newSpan.id = 'tip_val';
                               newSpan.name = 'tip_val'
                               newSpan.className = "editors";
                               mainDiv.appendChild(newSpan);
                               var tipuri = response.split(',');
                               var option = document.createElement("option");
                               option.value = '';
                               option.text = '';
                               newSpan.appendChild(option);
                               for (var i = 0; i < tipuri.length; i++) {
                                   var option = document.createElement("option");
                                   var valtext = tipuri[i].split(':');
                                   option.value = valtext[0];
                                   option.text = valtext[1];
                                   newSpan.appendChild(option);
                               }


                               newSpan = document.createElement('input');
                               newSpan.type = "hidden";
                               newSpan.id = 'tip_val:';
                               newSpan.name = 'tip_val:';
                               newSpan.value = 'I';
                               mainDiv.appendChild(newSpan);




                               newSpan = document.createElement('input');
                               newSpan.type = "hidden";
                               newSpan.id = 'tipechipament';
                               newSpan.name = 'tipechipament';
                               newSpan.value = '@ViewBag.tipechipament';
                               mainDiv.appendChild(newSpan);



                               var br = document.createElement("br");
                               mainDiv.appendChild(br);

                               var newSpan = document.createElement('input');
                               newSpan.type = "text";
                               newSpan.id = 'ip_val';
                               newSpan.name = 'ip_val'
                               newSpan.className = "editors";
                               mainDiv.appendChild(newSpan);

                               newSpan = document.createElement('input');
                               newSpan.type = "hidden";
                               newSpan.id = 'ip_val:';
                               newSpan.name = 'ip_val:';
                               newSpan.value = 'S';
                               mainDiv.appendChild(newSpan);

                               $.ajax({
                                   url: '@Url.Content("~/Echipament/GetVersiuni")',
                                   type: 'POST',
                                   success: function (response) {
                                       var mainDiv = document.getElementById('text_div');
                                       var newSpan = document.createElement('select');

                                       newSpan.id = 'ver_val';
                                       newSpan.name = 'ver_val'
                                       newSpan.className = "editors";
                                       mainDiv.appendChild(newSpan);
                                       var tipuri = response.split(',');
                                       var option = document.createElement("option");
                                       option.value = '';
                                       option.text = '';
                                       newSpan.appendChild(option);
                                       for (var i = 0; i < tipuri.length; i++) {
                                           var option = document.createElement("option");
                                           var valtext = tipuri[i].split(':');
                                           option.value = valtext[0];
                                           option.text = valtext[1];
                                           newSpan.appendChild(option);
                                       }

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_analogici_dela';
                                       newSpan.name = 'ab_analogici_dela';
                                       newSpan.setAttribute("style", "float:left;width:50px;");
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_analogici_dela:';
                                       newSpan.name = 'ab_analogici_dela:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_analogici_panala';
                                       newSpan.name = 'ab_analogici_panala';
                                       newSpan.setAttribute("style", "float:right;width:50px;");
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_analogici_panala:';
                                       newSpan.name = 'ab_analogici_panala:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);


                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_digitali_dela';
                                       newSpan.name = 'ab_digitali_dela';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_digitali_dela:';
                                       newSpan.name = 'ab_digitali_dela:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_digitali_panala';
                                       newSpan.name = 'ab_digitali_panala';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_digitali_panala:';
                                       newSpan.name = 'ab_digitali_panala:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_IP_dela';
                                       newSpan.name = 'ab_IP_dela';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_IP_dela:';
                                       newSpan.name = 'ab_IP_dela:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_IP_panala';
                                       newSpan.name = 'ab_IP_panala';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_IP_panala:';
                                       newSpan.name = 'ab_IP_panala:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_DECT_dela';
                                       newSpan.name = 'ab_DECT_dela';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_DECT_dela:';
                                       newSpan.name = 'ab_DECT_dela:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_DECT_panala';
                                       newSpan.name = 'ab_DECT_panala';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_DECT_panala:';
                                       newSpan.name = 'ab_DECT_panala:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_total_dela';
                                       newSpan.name = 'ab_total_dela';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_total_dela:';
                                       newSpan.name = 'ab_total_dela:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "text";
                                       newSpan.id = 'ab_total_panala';
                                       newSpan.name = 'ab_total_panala';
                                       mainDiv.appendChild(newSpan);

                                       newSpan = document.createElement('input');
                                       newSpan.type = "hidden";
                                       newSpan.id = 'ab_total_panala:';
                                       newSpan.name = 'ab_total_panala:';
                                       newSpan.value = 'I';
                                       mainDiv.appendChild(newSpan);
                                   }
                               });

                               newSpan = document.createElement('input');
                               newSpan.type = "hidden";
                               newSpan.id = 'ver_val:';
                               newSpan.name = 'ver_val:';
                               newSpan.value = 'I';
                               mainDiv.appendChild(newSpan);



                           }
                       });



                       var newSpan = document.createElement('input');
                       newSpan.type = "hidden";
                       newSpan.id = 'siteID';
                       newSpan.name = 'siteID';
                       newSpan.value = '@ViewBag.siteID';
                       document.getElementById('text_div').appendChild(newSpan);
                   }
                   loaded++;
               }
           }
        </script> 

       
   </div>
    
    <div style="float:right;">
        <input type="button" class="buton" id="cartela_noua" name="cartela_noua" value="Adauga cartela" />

        <input type="button" class="buton" id="atr_nou" name="atr_nou" value="Adauga atribut" onclick="addatribut()"/>
        <br />
        <div id="atribut_nou_div" style="display:none">
            <label class="labels">Tip:</label>

            <select class="editors" id="tip_nou" name="tip_nou">
                <option value="Tip">Tip</option>
                <option value="IP">IP</option>
                <option value="Versiune">Versiune</option>
                @*
                <option value="Abonati analogici">Abonati analogici</option>
                <option value="Abonati digitali">Abonati digitali</option>
                <option value="Abonati IP">Abonati IP</option>
                <option value="Abonati DECT">Abonati DECT</option>
                <option value="Abonati total">Plaja alocata totala</option>*@
            </select>
            <label class="labels">Valoare:</label>
            <input type="text" id="val_nou" name="val_nou" />
            <br />
            <input type="button" value ="Adauga" class="buton" onclick="submit_form()"/>
        </div>
    </div>
    
    <script>
        function submit_form() {
            $('#ajaxForm').trigger('submit');
        }
        function addatribut() {
            $("#atribut_nou_div").css({ 'display': 'block' });
        }

        $(":input").addClass("editors");
        $("#submit_1").removeClass("editors");
        $("#atr_nou").removeClass("editors");
        $("#cartela_noua").removeClass("editors");
        $("#createechip").removeClass("editors");
        $("#create").removeClass("editors");

        var getDetailsFunction = function () {
            return function (data, textStatus, jqXHR) {
                console.log("data = " + data);
                $("#details").html(data);
            };
        }

        $("#cartela_noua").click(function () {
            $("#treeDemo").find(".jstree-checked").each(function (index) {
                tip_echip = $(this).attr('id').split("_")[0];
                $.get('@Url.Content("~/Cartela/EditCartela")', "id=-1" + "&&parentID=" + tip_echip, getDetailsFunction(), 'html');
            });
        });
    </script>
    <br />
    <div id="footer-form" style="margin-top:40%">
   <input type="submit" value="Salveaza" class="buton" id="submit_1" />
   <input type="button" value="Sterge echipament" class="buton" id="stergeechipament" />


            <script>
                $("#stergeechipament").click(function () {
                    $("#treeDemo").find(".jstree-checked").each(function () {
                        var id = this.id;
                        $.post('@Url.Content("~/Echipament/StergeEchipament")', "id=" + id, function (response) {
                    var href = document.URL;
                    var idechipament = href.substr(href.lastIndexOf("/") + 1, href.lastIndexOf("?") - href.lastIndexOf("/") - 1);
                    alert(href.replace(idechipament, response));
                    window.location = href.replace(idechipament, response);

                }, 'html');
            });

        });
    </script>

        </div>
}
