@{
    ViewBag.Title = "AfiseazaCartele";
}


@using (Ajax.BeginForm("Salvare", "Cartela", new AjaxOptions() { HttpMethod = "POST" }, new { id = "ajaxForm1" }))
  
{
    <br />
   <input type="submit" value="Salveaza" class="buton" id="submit_1" />
   <input type="button" value="Sterge echipament" class="buton" id="stergeechipament" />
    <input type="hidden" value="@ViewBag.numeechip" id="denumire" name="denumire"/>
    <table id="tabel_detalii">
        <tr><td>
            <input type="hidden" value="@ViewBag.id" id="id" name="id" />
            <input type="hidden" id="randuri" name="randuri" />
            </td>
        </tr>
    </table>
    
    <script>
        var cartele = '@Html.Raw(ViewBag.cartele)';
        var x = $.parseJSON(cartele);
        console.log(x);

        var table = document.getElementById("tabel_detalii");

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        rowCount++;
        var cell1 = row.insertCell(0);
        cell1.innerHTML = "";
        var cell1 = row.insertCell(1);
        cell1.innerHTML = "";
        var cell1 = row.insertCell(2);
        cell1.innerHTML = "<input type='button' value='Adauga cartela' id='addcart' class='buton' onclick='adaugacartela()' />";


        for (i = 0; i < x.length; i++) {
            
            $.ajax({
                url: '@Url.Content("~/Cartela/GetTipCartele")',
                data:{i:i},
                type: 'POST',
                success: function (response) {
                    var row = table.insertRow(rowCount);
                    rowCount++;

                    var cell1 = row.insertCell(0);
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "Tip";
                    newSpan.className = "labels";
                    cell1.appendChild(newSpan);

                    var tipuri = response.split(',');
                    l = tipuri[0];

                    var newSpan = document.createElement('select');
                    newSpan.id = "tip_" + rowCount;
                    newSpan.name = "tip_" + rowCount;
                    newSpan.className = "editors";
                    newSpan.setAttribute("style", "font-size:14px");
                    cell1.appendChild(newSpan);


                    var option = document.createElement("option");
                    option.value = '';
                    option.text = '';
                    newSpan.appendChild(option);
                    for (var k = 1; k < tipuri.length; k++) {
                        var option = document.createElement("option");
                        option.value = tipuri[k];
                        option.text = tipuri[k];
                        newSpan.appendChild(option);
                    }

                    //alert(x[l].tip);

                    $("#tip_" + rowCount).val(x[l].tip);
                    
                    var tipcartelaid = "tip_" + rowCount;

                    $("#" + tipcartelaid).change(function (event) {
                        switch ($("#" + tipcartelaid + " option:selected").val()) {
                            case 'ESU': case 'ASU': case 'NIU': case 'AAU2': case 'IPLU': case 'Management alimentare':
                                {
                                    $("#" + rowCount + "_2").css({ 'visibility': 'visible' });
                                    $("#" + rowCount + "_3").css({ 'visibility': 'visible' });
                                    $("#" + rowCount + "_1").css({ 'visibility': 'visible' });
                                    $("#" + rowCount + "_5").css({ 'visibility': 'hidden' });
                                    break;
                                }
                            case 'TLU76':
                                {
                                    $("#" + rowCount + "_2").css({ 'visibility': 'hidden' });
                                    $("#" + rowCount + "_3").css({ 'visibility': 'hidden' });
                                    $("#" + rowCount + "_1").css({ 'visibility': 'hidden' });
                                    $("#" + rowCount + "_5").css({ 'visibility': 'visible' });
                                    break;
                                }
                            default: {
                                $("#" + rowCount + "_2").css({ 'visibility': 'hidden' });
                                $("#" + rowCount + "_3").css({ 'visibility': 'hidden' });
                                $("#" + rowCount + "_1").css({ 'visibility': 'hidden' });
                                $("#" + rowCount + "_5").css({ 'visibility': 'hidden' });
                                break;
                            }
                        }
                    });
                    var j = 0;

                    for (j = 0; j < x[l].atribute.length; j++) {
                        
                        var cell1 = row.insertCell(j + 1);
                        cell1.id = rowCount + "_" + j;
                        var newSpan = document.createElement('label');
                        newSpan.innerHTML = x[l].atribute[j].nume_atr;
                        newSpan.className = "labels";
                        
                        cell1.appendChild(newSpan);


                        if (x[l].atribute[j].nume_atr == "VersiuneC") {
                           if(x[l].atribute[j].val_atr=="/1")
                               cell1.innerHTML = "<label class='labels'>Versiune</label><input type='radio' id='1' name='ver" + x[l].id + "' checked = 'checked' value='1' onclick='changever(\'1\')' />/1<input type='radio'  id='11' onclick=changever(\'11\') name='ver" + x[l].id + "' value='11' style='margin-left:10px;'/>/11<input type='hidden' id='versiune' name='versiune" + x[l].id + "' value='" + x[l].id + "_" + x[l].atribute[j].id_atr + "'/>";
                           else if (x[l].atribute[j].val_atr == "/11")
                               cell1.innerHTML = "<label class='labels'>Versiune</label><input type='radio' id='1' name='ver" + x[l].id + "' value='1' onclick='changever(\'1\')' />/1<input type='radio'  id='11' checked = 'checked' onclick=changever(\'11\') name='ver" + x[l].id + "' value='11' style='margin-left:10px;'/>/11<input type='hidden' id='versiune' name='versiune" + x[l].id + "'  value='" + x[l].id + "_" + x[l].atribute[j].id_atr + "' />";
                        }
                        else {
                            var newSpan = document.createElement('input');
                            newSpan.type = "text";
                            newSpan.id = x[l].id + "_" + x[l].atribute[j].id_atr;
                            newSpan.name = x[l].id + "_" + x[l].atribute[j].id_atr;
                            newSpan.className = "editors";
                            newSpan.value = x[l].atribute[j].val_atr;
                            if (x[l].atribute[j].nume_atr == "Port switch")
                                newSpan.setAttribute("style", "width:70%");

                            cell1.appendChild(newSpan);
                        }
                        //$("#" + x[l].id + "_" + x[l].atribute[j].id_atr).val(x[l].atribute[j].val_atr);

                        if (x[l].tip != "ESU" && x[l].tip != "ASU" && x[l].tip != "NIU" && x[l].tip != "AAU2" && x[l].tip != "IPLU" && x[l].tip != "Management alimentare" &&
                            (x[l].atribute[j].nume_atr == 'IP' || x[l].atribute[j].nume_atr == 'MASK' || x[l].atribute[j].nume_atr == 'GATEWAY' || x[l].atribute[j].nume_atr == 'Port switch')
                            ) {
                            cell1.setAttribute("style", "visibility:hidden");
                        }
                    }

                    var cell1 = row.insertCell(j + 1);
                    cell1.innerHTML += "<input type='hidden' id='id_" + rowCount + "' name='id_" + rowCount + "' value='" + x[l].id + "' />";
                    cell1.setAttribute("style","display:none");
                }
            });

           


                
            }
        
        function adaugacartela() {

            var newSpan = document.createElement('select');
            $.ajax({
                url: '@Url.Content("~/Cartela/GetTipCartele")',
                type: 'POST',
                data:{i:-1},
                success: function (response) {
                    var table = document.getElementById("tabel_detalii");

                    var rowCount = table.rows.length;
                    var row = table.insertRow(rowCount);
                    rowCount++;
                    var cell1 = row.insertCell(0);
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "Tip";
                    newSpan.className = "labels";
                    cell1.appendChild(newSpan);


                    var newSpan = document.createElement('select');
                    newSpan.id = 'tip_cartela_'+rowCount;
                    newSpan.name = 'tip_cartela_'+rowCount;
                    newSpan.className = "editors";
                    newSpan.setAttribute("style","font-size:14px");
                    cell1.appendChild(newSpan);
                    var tipuri = response.split(',');
                    var option = document.createElement("option");
                    option.value = '';
                    option.text = '';
                    newSpan.appendChild(option);
                    for (var i = 0; i < tipuri.length; i++) {
                        var option = document.createElement("option");
                        option.value = tipuri[i];
                        option.text = tipuri[i];
                        newSpan.appendChild(option);
                    }
                    var tipcartelaid = 'tip_cartela_' + rowCount;
                    var rowinid = rowCount;

                    $("#" + tipcartelaid).change(function (event) {
                        switch ($("#tip_cartela_"+rowinid+" option:selected").val()) {
                            case 'ESU': case 'ASU': case 'NIU': case 'AAU2': case 'IPLU': case 'Management alimentare':
                                {
                                    $("#ip" + rowinid).css({ 'visibility': 'visible' });
                                    $("#ip" + rowinid).html("<label class='labels'>IP</label><input type=\"text\" id=\"ip_" + rowCount + "\" name=\"ip_" + rowCount + "\" class=\"editors\" />");
                                    $("#mask" + rowinid).css({ 'visibility': 'visible' });
                                    $("#gateway" + rowinid).css({ 'visibility': 'visible' });
                                    $("#switch" + rowinid).css({ 'visibility': 'visible' });
                                    /*$("#versiune" + (rowinid + 1).toString() + "0").css({ 'visibility': 'hidden' });
                                    $("#versiune" + (rowinid + 1).toString() + "1").css({ 'visibility': 'hidden' });*/

                                    break;
                                }
                            case 'TLU76':
                                {
                                    //$("#ip" + rowinid).css({ 'visibility': 'hidden' });
                                    $("#ip" + rowinid).html("<label class='labels'>Versiune</label><input type='radio' id='1' name='vernou" + rowCount + "' value='1' onclick='changever(\'1\')' />/1<input type='radio'  id='11' onclick=changever(\'11\') name='vernou" + rowCount + "' value='11' style='margin-left:10px;'/>/11<input type='hidden' id='versiunenou" + rowCount + "' name='versiunenou" + rowCount + "' />");
                                    $("#ip" + rowinid).css({ 'visibility': 'visible' });
                                    $("#mask" + rowinid).css({ 'visibility': 'hidden' });
                                    $("#gateway" + rowinid).css({ 'visibility': 'hidden' });
                                    $("#switch" + rowinid).css({ 'visibility': 'hidden' });
                                    /*$("#versiune" + (rowinid + 1).toString() + "0").css({ 'display': 'block' });
                                    $("#versiune" + (rowinid + 1).toString() + "1").css({ 'display': 'block' });
                                    alert(rowinid + "0");*/
                                    break;
                                }
                            default: {
                                $("#ip" + rowinid).css({ 'visibility': 'hidden' });
                                $("#mask" + rowinid).css({ 'visibility': 'hidden' });
                                $("#gateway" + rowinid).css({ 'visibility': 'hidden' });
                                $("#switch" + rowinid).css({ 'visibility': 'hidden' });
                                /*$("#versiune" + (rowinid +1).toString()+ "0").css({ 'visibility': 'hidden' });
                                $("#versiune" + (rowinid+1).toString() + "1").css({ 'visibility': 'hidden' });
                                */
                                break;
                            }
                        }
                    });


                    var cell1 = row.insertCell(1);
                    cell1.id = "bpos" + rowCount;
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "BPOS";
                    newSpan.className = "labels";
                    cell1.appendChild(newSpan);

                    cell1.innerHTML += "<input type=\"text\" id=\"bpos_" + rowCount + "\" name=\"bpos_" + rowCount + "\" class=\"editors\" />";
                    
                    

                    var cell1 = row.insertCell(2);
                    cell1.id = "ip" + rowCount;
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "IP";
                    newSpan.className = "labels";
                    cell1.appendChild(newSpan);

                    cell1.innerHTML += "<input type=\"text\" id=\"ip_" + rowCount + "\" name=\"ip_" + rowCount + "\" class=\"editors\" />";


                    var cell1 = row.insertCell(3);
                    cell1.id = "mask" + rowCount;
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "MASK";
                    newSpan.className = "labels";
                    cell1.appendChild(newSpan);

                    cell1.innerHTML += "<input type=\"text\" id=\"mask_" + rowCount + "\" name=\"mask_" + rowCount + "\" class=\"editors\" />";


                    var cell1 = row.insertCell(4);
                    cell1.id = "gateway"+rowCount;
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "GATEWAY";
                    newSpan.className = "labels";
                    cell1.appendChild(newSpan);

                    cell1.innerHTML += "<input type=\"text\" id=\"gateway_" + rowCount + "\" name=\"gateway_" + rowCount + "\" class=\"editors\" />";
                    cell1.innerHTML += "<input type='hidden' id='id_" + rowCount + "' name='id_" + rowCount + "' value='-1' />";

                    var cell1 = row.insertCell(5);
                    cell1.id = "switch" + rowCount;
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "Port switch";
                    newSpan.className = "labels";
                    cell1.appendChild(newSpan);

                    cell1.innerHTML += "<input type=\"text\" id=\"switch_" + rowCount + "\" name=\"switch_" + rowCount + "\" style =  \"width:70%\" class=\"editors\" />";
                    
                    /*
                    var row = table.insertRow(rowCount);
                    rowCount++;
                    var cell1 = row.insertCell(0);
                    cell1.id = "versiune" + rowCount + "0";
                    var newSpan = document.createElement('label');
                    newSpan.innerHTML = "Versiune";
                    newSpan.className = "labels";
                    cell1.setAttribute("style", " display:none");
                    cell1.appendChild(newSpan);
                    var cell1 = row.insertCell(1);
                    cell1.setAttribute("style", " display:none");
                    cell1.id = "versiune" + rowCount + "1";
                    cell1.innerHTML = "<input type='radio' id='1' name='ver' value='1' onclick='changever(\'1\')' />/1<input type='radio'  id='11' onclick=changever(\'11\') name='ver' value='11' style='margin-left:10px;'/>/11<input type='hidden' id='versiune' name='versiune' />";

                    function changever(a) {
                        $("#versiune").val(a);
                    }
                    */
                }
            });

           


            
        }

        $("#submit_1").click(function()
        {
            var table = document.getElementById("tabel_detalii");
            var rowCount = table.rows.length;
            $("#randuri").val(rowCount);
        });
    </script>
    
    
}